<!DOCTYPE html>
<html lang="pt-br">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link href="https://fonts.googleapis.com/css2?family=Nunito+Sans:wght@200;300;400;600;700&display=swap" rel="stylesheet">
  <link rel="stylesheet" href="/css/style.css">
  <link rel="stylesheet" href="/css/fila.css">
  <title>Jogue contra você mesmo!</title>
</head>
<body>
  <div id="deu-velha">
    <div class="img-velha">
      <img src="/images/velha.png" alt="">
    </div>
    <button><a href="/">Voltar e Aceitar</a></button>
  </div>

  <div class="container">
    <h2 id="quem-joga">Agora é a sua vez</h2>

    <div id="jogo">
      <button class="btn"> </button>
      <button class="btn"> </button>
      <button class="btn"> </button>
      <button class="btn"> </button>
      <button class="btn"> </button>
      <button class="btn"> </button>
      <button class="btn"> </button>
      <button class="btn"> </button>
      <button class="btn"> </button>
    </div>

    <div id="jogo-acoes">
      <button><a href="/">Voltar</a></button>
    </div>
  </div>

  <script src="/js/velha.js"></script>
  <script src="/socket.io/socket.io.js"></script>
  <script>
    // Torna as interfaces visíveis
    document.getElementById('jogo').style.display = 'grid'
    document.getElementsByClassName('container')[0].style.display = 'flex'

    // Usuário 1 e 2
    let playerId1 = '123'
    let playerId2 = '456'
    let playerDaVez = playerId1

    // Instancia do jogo
    let jogo = new Velha(playerId1, 'x')
    jogo.definePlayer2(playerId2)
    
    for(let i = 0; i < 9; i++ ) {
      document.getElementsByClassName('btn')[i]
        .addEventListener('click', (event) => selecionarBloco(i))
    }

    function selecionarBloco(i) {
      console.log(i)
      if (jogo.realizarJogada(playerDaVez, i)) {
        atualizarJogo()
        respostaBot()
      }
    }
    
    function respostaBot() {
      if(!jogo.verificarVitoria() && !jogo.verificarVelha()) {
        setTimeout(() => {
          let escolha = Math.floor(Math.random() * 9)
          while (jogo.retornarInstancia().tabuleiro[escolha] !== ''){
            escolha = Math.floor(Math.random() * 9)
          }
          let playerBot = playerDaVez === playerId1 ? playerId2 : playerId1
          jogo.realizarJogada(playerBot, escolha)
          atualizarJogo()     
        }, 1000);
      }
    }

    function atualizarJogo() {
      let infoJogo = document.getElementById('quem-joga')

      if (!jogo.verificarVitoria() && !jogo.verificarVelha()) {
        if(jogo.vezAtual === 'x') {
          infoJogo.innerText = `Agora é a sua vez`
        } else {
          infoJogo.innerText = `Agora é a vez do BOT`
        }

      } else if (jogo.verificarVitoria()) {
        if(jogo.vezAtual === 'x') {
          infoJogo.innerText = `Quase, tente outra vez`
        } else {
          infoJogo.innerText = `Parabens, jogou muito!`
        }

      } else if (jogo.verificarVelha()) {
        document.getElementById('jogo').style.display = 'none'
        document.getElementsByClassName('container')[0].style.display = 'none'
        document.getElementById('deu-velha').style.display = 'flex'
      }
    }

    atualizarJogo()

    function renderizarBotoes() {
      jogo.retornarInstancia().tabuleiro.map((valor, i) => {
        if(valor === '') {
          document.getElementsByClassName('btn')[i].style.color = 'transparent'
          document.getElementsByClassName('btn')[i].textContent = 'A'
        } else {
          document.getElementsByClassName('btn')[i].textContent = valor
          document.getElementsByClassName('btn')[i].style.color = 'white'
        }
      })
    }

    function renderizarJogo() {
      if (!jogo.verificarVitoria() && !jogo.verificarVelha() ) {
        renderizarBotoes()
        requestAnimationFrame(renderizarJogo)
      } else {
        renderizarBotoes()
        if(jogo.verificarVitoria()) {
          jogo.verificarPosicoesVitoria().map(posicoes => {
            posicoes.map(pos => {
              document.getElementsByClassName('btn')[pos].style.background = 'white'
              document.getElementsByClassName('btn')[pos].style.color = 'purple'
            })
          })
        } else if(jogo.verificarVelha()) {
        }
      }
    }
    requestAnimationFrame(renderizarJogo)
  </script>
</body>
</html>