<!DOCTYPE html>
<html lang="pt-br">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="/css/style.css">
  <link rel="stylesheet" href="/css/fila.css">
  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link href="https://fonts.googleapis.com/css2?family=Nunito+Sans:wght@200;300;400;600;700&display=swap" rel="stylesheet">  <title>Jogo da velha</title>
</head>
<body>
  <div id="buscarfila">
    <h1>Buscando fila</h1>
    <span id="contador"></span>
    <button onclick="cancelarFila()" >Cancelar</button>
  </div>

  <div id="deu-velha">
    <img src="/images/velha.png" alt="">
    <button><a href="/">Voltar e Aceitar</a></button>
  </div>

  <div class="container">
    <h2 id="quem-joga"></h2>

    <div id="jogo">
      <button class="btn"></button>
      <button class="btn">X</button>
      <button class="btn">Y</button>
      <button class="btn">X</button>
      <button class="btn"></button>
      <button class="btn">X</button>
      <button class="btn">Y</button>
      <button class="btn"></button>
      <button class="btn">Y</button>
    </div>

    <div id="jogo-acoes">
      <button><a href="/">Voltar</a></button>
    </div>
  </div>

  <script src="/js/velha.js"></script>
  <script src="/socket.io/socket.io.js"></script>
  <script>
  var socket = io()
  let jogo;
  let voceEhO = ''
  let id;
  let secao;

  function cancelarFila(){
    socket.emit('cancel-queue', {secao})
    window.location.href = '/'
  }

  // Novo usuário conectado
  socket.emit('new-player', '')
  socket.on('new-player', (data) => {
    id = data.id
  })

  // Bsucar fila
  socket.emit('send-queue', '')
  socket.on('send-queue', (data) => {
    secao = data.secao
  })

  // Adicionar listerners
  for(let i = 0; i < 9; i++ ) {
    document.getElementsByClassName('btn')[i]
      .addEventListener('click', (event) => selecionarItem(i))
  }

  // Evento de clique em um botão
  function selecionarItem(i) {
    if (jogo.tabuleiro[i] === '' && jogo.vezAtual === voceEhO) {
      if(!jogo.verificarVitoria() && !jogo.verificarVelha()) {
        document.getElementsByClassName('btn')[i].textContent === voceEhO
        console.log(jogo.realizarJogada(id, i))
        socket.emit('new-click', {i, jogador:voceEhO, secao})
      }
    }
  }

  // Servidor encontrou uma seção
  socket.on('find-session', (data) => {
    if (data.player1.id !== id && data.player2.id !== id) { return }

    document.getElementById('jogo').style.display = 'grid'
    document.getElementsByClassName('container')[0].style.display = 'flex'
    document.getElementById('buscarfila').style.display = 'none'

    jogo = new Velha(data.player1.id, data.player1.boneco)
    jogo.definePlayer2(data.player2.id)
    
    // Quem é o jogador
    if (data.player1.id === id) {
      voceEhO = data.player1.boneco
    } else {
      voceEhO = data.player2.boneco
    }

    if (data.vezAtual === voceEhO) {
      document.getElementById('quem-joga').innerText = 'Agora é a sua vez'
    } else {
      document.getElementById('quem-joga').innerText = 'Agora é a vez dele'
    }

    requestAnimationFrame(renderScreen)
  })

  // Alguém fez um clique
  socket.on('new-click', (data) => {
    if (data.player1.id !== id && data.player2.id !== id) {return }
    if(data.quemfez !== id) {
      jogo.realizarJogada(data.quemfez, data.jogada)
    }

    let htmlResultadoEVez = document.getElementById('quem-joga')
    if (!jogo.verificarVitoria() && !jogo.verificarVelha()) {
      if (jogo.vezAtual === voceEhO) {
        htmlResultadoEVez.innerText = 'Agora é a sua vez'
      } else {
        htmlResultadoEVez.innerText = 'Agora é a vez dele'
      }
    } else if (jogo.verificarVitoria()) {
      if(jogo.retornarInstancia().resultado.jogador === voceEhO) {
        htmlResultadoEVez.innerText = 'Parabens, você jogou muito!'
      } else {
        htmlResultadoEVez.innerText = 'Quase, jogou muito!'
      }
    } else if (jogo.verificarVelha()) {
      document.getElementById('jogo').style.display = 'none'
      document.getElementsByClassName('container')[0].style.display = 'none'
      document.getElementById('deu-velha').style.display = 'flex'
    }
  })

  function renderButtons() {
    jogo.retornarInstancia().tabuleiro?.map((valor, i) => {
      if(valor === '') {
          document.getElementsByClassName('btn')[i].style.color = 'transparent'
          document.getElementsByClassName('btn')[i].textContent = 'A'
        } else {
          document.getElementsByClassName('btn')[i].textContent = valor
          document.getElementsByClassName('btn')[i].style.color = 'white'
        }
    })
  }

  // Renderiza o tabuleiro
  function renderScreen() {
    if (!jogo.verificarVitoria() && !jogo.verificarVelha()) {
      renderButtons()
      requestAnimationFrame(renderScreen)
    } else { 
      renderButtons()
      if(jogo.verificarVitoria()) {
        jogo.verificarPosicoesVitoria().map(pos => {
          pos.map(p => {
            document.getElementsByClassName('btn')[p].style.background = 'white'
            document.getElementsByClassName('btn')[p].style.color = 'purple'
          })
        })
      } else if(jogo.verificarVelha()) {
      }
    }
  }
  </script>
</body>
</html>