<!DOCTYPE html>
<html lang="pt-br">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link href="https://fonts.googleapis.com/css2?family=Nunito+Sans:wght@200;300;400;600;700&display=swap" rel="stylesheet">  
  <link rel="stylesheet" href="/css/style.css">
  <link rel="stylesheet" href="/css/index.css">
  <title>Jogo da velha</title>
</head>
<body>

  <div id="screen1">
    <button onclick="buscarPartida()">Buscar Partida</button>
    <button onclick="jogarComBot()" >Jogar Contra Bot</button>
    <button onclick="jogarComVoce()" >Jogar com você mesmo</button>
  </div>

  <script>
    function buscarPartida() {
      setTimeout(() => {
        window.location.href = '/fila'
      }, 300);
    }

    function jogarComBot() {
      setTimeout(() => {
        window.location.href = '/bot'
      }, 300);
    }

    function jogarComVoce() {
      setTimeout(() => {
        window.location.href = '/voce'
      }, 300);
    }
    
  </script>
 
</body>
</html>