html, body {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  height: 100vh;
  max-width: 100%;
  background: #dedede;
}

* {
  font-weight: 400;
  font-family: 'Rampart One', cursive;
}

#screen1 {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  background: linear-gradient(#6611ff, #9900ff);
}


#screen1 button {
  padding: 10px 25px;
  border: 2px solid white;
  background: transparent;
  color: white;
  width: 250px;
  font-size: 1.5rem;
  margin: 10px 0;
  border-radius: 20px;
}

.container {
  padding: 2%;
  height: 100%;
  color: blueviolet;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  display: none;
}

.container h1 {
  font-size: 2rem;
}

#buscarfila {
  height: 100%;
  padding: 0;
  margin: 0;
  width: 100%;
  background: linear-gradient(90deg, #11aaff, #7703b9, #ff11aa);
  background-size: 250% 100%;
  color: white;
  animation: animationColor ease-in-out 2s infinite;
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: center;
}

@keyframes animationColor {
  0%     {background-position: 0% 50%}
  50%     {background-position: 100% 50%}
  100%     {background-position: 0% 50%}
}

#buscarfila h1{
  margin: 0;
  padding: 0;
  width: 100%;
  font-size: 3rem;
  text-align: center;
}


#buscarfila button{
  background-color: transparent;
  font-size: 2rem;
  padding: 10px 25px;
  margin-top: 10px;
  outline: none;
  border: 2px solid white;
  border-radius: 10px;
  color: white;
}



#game {
  flex-grow: 1;
  background: linear-gradient(#9900ff, #6611ff);
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-column-gap: 10px;
  grid-row-gap: 10px;
  width: 100%;
  display: none;
}

#game button {
  width: 100%;
  background-color: transparent;
  outline: none;
  font-size: 2rem;
  color: white;
  border: 2px solid white;
}

#game button.selectedOther {
  background-color: white;
  color: #9900ff;
}

#game button.selectedYou {
  background-color: rgb(7, 160, 187);
  color: white;
}

#game button:nth-child(3n+0) { border-right: none; }/*  Pega a parte da direita */
#game button:nth-child(3n+1) { border-left: none; } /*  Pega a parte da esquerda */
#game button:nth-child(n+7) { border-bottom: none; } /*  Pega a parte de baixo */
#game button:nth-child(1) {border-top: none;} /*  Pega a parte de cima */
#game button:nth-child(2) { border-top: none;} /*  Pega a parte de cima */
#game button:nth-child(3) { border-top: none;} /*  Pega a parte de cima */

#gameAcoes {
  width: 100%;
  display: flex;
  justify-content: space-between;
}

#gameAcoes button {
  padding: 10px 25px;
  border: none;
  outline: none;
  background-color: transparent;
  color: #9900ff;
  font-size: 1.5rem;
}
